@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #232323;
}

nav {
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.site-name {
  padding: 0.5rem;
}

.home:link {
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.home:hover {
  background-color: #111;
}

/* Main containers */

.flex-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 287px);
  gap: 1rem;
}

/* Border radius settings */

.book-container,
.cover-img,
.new-book {
  border-radius: 10px;
}

.book-info {
  border-radius: 10px;
}

/* Book container styles */

.book-container {
  position: relative;
  border: #fff 1px solid;
  width: 287px;
  height: 475px;
}

.cover-img {
  width: 100%;
  height: 100%;
}

.book-info {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0.1rem;
  left: 0rem;
  overflow: hidden;
  transition: height 0.5s;
}

.book-info:hover {
  height: 20rem;
}

/* Title row styles */

.book-title {
  color: #fff;
}

/* Star styles */

.rating-stars {
  margin-bottom: 0.5rem;
}

.fa-star,
.fa-star-half-stroke {
  color: orange;
}

/* Button styles */

.btns {
  text-align: center;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.25rem;
}

.btn {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #fff;
}

.see-notes-btn {
  padding: 0 0.2rem 0 0.2rem;
  text-wrap: nowrap;
}

.edit-btn,
.delete-btn {
  padding: 0 0.2rem 0 0.2rem;
}

.edit-btn:hover,
.see-notes-btn:hover {
  cursor: pointer;
  background-color: #008cba;
}

.delete-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

/* Misc styles */

.book-author,
.book-description {
  color: #fff;
}

.new-book {
  color: #aeaeae;
  font-size: 5rem;
  width: 287px;
  height: 475px;
  border: #aeaeae 0.4rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.new-book:hover {
  transform: scale(1.05);
}

.new-book-link:link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
